<!DOCTYPE html>
<html>

<head>

    <title>About</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-5">

<div class="card shadow">

<div class="card-body">

<h2>About This Project</h2>

<hr>

<p>

This project is a web-based AI application developed using
TensorFlow and Flask.

</p>

<p>

The application allows users to upload an image and receive
a real-time prediction using a Convolutional Neural Network.

</p>

<h4>Dataset</h4>

<p>CIFAR-10</p>

<h4>Framework</h4>

<p>Flask</p>

<h4>Deep Learning Library</h4>

<p>TensorFlow</p>

<h4>Developer</h4>

<p>Avishek Pandey</p>

<a href="/" class="btn btn-success">

Home

</a>

</div>

</div>

</div>

</body>

</html>